.goalPanelContainer {
    color: #555555;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.goalPanelHeader {
    display: flex;
    justify-content: space-between;
}

.goalPanelTitle {
    font-size: 24px;
    margin-bottom: 10px;
}

.goalPanelDivider {
    border-top: 1px solid #e5e5e5;
    margin-top: 24px;
}

.goalKebabMenu {
    margin-left: 15px;
    font-size: 24px;
    cursor: pointer;
}

.goalPanelStats {
    display: flex;
}

.goalPanelInfo {
    padding-right: 10px;
    margin-top: 10px;
}

.noGoalMessage {
    display: flex;
    padding: 100px;
    font-size: 24px;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
}
