.expContainer {
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #E1D4FF;
  padding: 10px 15px;
}

.expHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.progressBarContainer {
  position: relative;
  width: 100%;
  height: 24px;
  background: rgba(151, 105, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(151, 105, 255, 0.2);
}

.progressBar {
  position: relative;
  height: 100%;
    background: #a989ff;
  border-radius: 10px;
  transition: width 0.6s ease-out;

  overflow: hidden;
}



@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.expFooter {
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
}


