.topicWrapper {
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  background-color: #9668fd;
  padding: 3px 15px;
  border-radius: 15px;
}

.topicBadge{
    display: flex;

  padding: 2px 10px ;
  border-radius: 10px;
}

.topicIcon {
  font-size: 25px;
  display: flex;
  align-items: center;
}

.topicTitle {
  font-size: 42px;
  font-weight: 500;
  color: white;

}
