.goalKanbanTask {
    background-color: #F7F7F7;
    gap: 8px;
    border-radius: 15px;
    cursor: grab;
    padding: 12px 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #E6E6E6;
    transition: opacity 0.3s ease;
    width: 250px;
    min-height: 110px;
}



.goalKanbanTask:hover {

}
.microtaskCounter{
    background-color: #e4e4e4;
    border-radius: 5px;
    padding: 2px 10px;
    height: 10px;
}

.taskTitle{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}

.taskDescription {
    font-weight: 300;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.taskHeader{
    display: flex;
    flex-direction: column;
}

.taskFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    color: #3c3c3c;
}
.taskFooterLeft{
    min-width: 1px;
}
.taskFooterRight{
    display: flex;
    gap: 5px;
}

.taskDueDate{
    background-color: #ded3f8;
    border-radius: 5px;
    padding: 2px 10px;
}

.taskDifficulty{
    text-transform: capitalize;
    background-color: #f8b6b6;
    border-radius: 5px;
    padding: 2px 10px;
}

.taskDifficulty.easy {
    background-color: #a8e6cf;
    color: #065f46;

}

.taskDifficulty.medium {
    background-color: #FAE4C5;
    color: #b45309;
}

.taskDifficulty.hard {
    background-color: rgba(255, 72, 72, 0.37);
    color: #7f1d1d;
}

.goalKanbanTaskDue{
    border: 2px solid #dcd1f6;
}

.goalKanbanTaskDone{
    border: 1px solid #E6E6E6;
    opacity: 0.5 !important;
    .taskTitle{
        text-decoration: line-through;
    }
}