.textAreaContainer {
    position: relative;
}

.textArea {
    box-sizing: border-box;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    color: #44305E;
    border-radius: 15px;
    height: 55px;
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;
    margin-bottom: 12px;
    border: 1px solid #44305E;
    background-color: #fff;
    transition: border 0.2s ease;
    resize: vertical;
    min-height: 110px;
}

.textArea:focus {
    outline: none;
    border-color: #BC7BFD;
}

.textArea::placeholder {
    color: #9B8FAA;
    font-weight: 400;
}

/* 🔹 Variant: base (default) */
.base {
    /* No overrides; uses default .input */
}

/* 🔹 Variant: modal */
.modal {
    height: 50px;
    font-size: 14px;
    padding-left: 15px;
    border-radius: 12px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    margin-bottom: 0;
}

.modal:focus {
    border: 1px solid #BC7BFD;
}

/* 🔹 Variant: tabs */
.tabs {

    border: 1px solid #ffffff;

    border-radius: 15px;
    background: #ffffff;
    font-size: 1rem;
    padding: 15px;
    width: 100%;
}


/* 🔴 Error state */
.textAreaError {
    border-color: #E64B89 !important;
}

.icon {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    left: 15px;
    z-index: 1;
}

.textAreaHint {
    z-index: 2;
    font-size: 15px;
    color: #BC7BFD;
    cursor: pointer;
    position: absolute;
    right: 0;
    transform: translateY(-120%);
}

.textAreaErrorHint {
    z-index: 2;
    font-size: 15px;
    color: #E64B89;
}

.textAreaLabel {
    display: block;
    color: #44305E;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 12px;
}

