.topicListItemContainer{
    height: 6rem;
    border-radius: 0.7rem;
    padding: 1rem;
    position: relative;
}

.topicListItemInfo{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    span{
        font-size: 2rem;
        font-weight: 500;
        color: #333;
    }
}

.topicListItemTitle{
    font-weight: 400;
    font-size: 1.2rem;
}
.topicListItemTasksQuantity{
    font-weight: 300;
    font-size: 0.8rem;
}

.topicListItemDueTasks{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    position: absolute;
    bottom: 0.5rem;
    right: 0.6rem;
    border-radius:50%;
    background-color: #9f77d7;
    height: 1.5rem;
    width: 1.5rem;
}

.topicListItemKebabMenu {
    position: absolute;
    top: 1.2rem;
    right: 0.5rem;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    opacity: 0.7;
    transition: opacity 0.2s ease;
    padding: 0.25rem;
    border-radius: 0.25rem;
}


