.editToastForm{
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    gap: 24px;
    color: #3c3c3c ;
}

.editTaskFormLeftSide{
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1 1 auto;
    height: 100%;
}

.editTaskFormRightSide{

}
.editTaskFormRightSideData{
    display: flex;
    gap: 12px;
}
.editTaskFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.editTaskFormMicrotasks{
    margin-top: 10px;
}



