.hexagon {
    position: relative;
    background-image: url("/icons/navbar/hexagon.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}

.active {
    background-image: url("/icons/navbar/hexagon-active.svg");
    transform: scale(1.1);
}

