.wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;

}

.label {
    font-size: 14px;
    font-weight: 500;
    color: #44305E;
}

.container {
    position: relative;
    width: 100%;
}

.button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 12px;
    padding: 0 15px;
    height: 50px;
    font-size: 16px;
    color: #44305E;
    cursor: pointer;
    position: relative;
    gap: 12px;
    outline: none;
}

.icon {
    color: #9B8FAA;
}

.options {
    margin-top: 4px;
    background: white;
    border-radius: 12px;
    padding: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    position: absolute;
    width: 100%;
    z-index: 10;
    max-height: 214px; /* adjust height as needed */
    overflow-y: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #ccc transparent;
}

.option {
    padding: 12px 16px;
    font-size: 15px;
    color: #44305E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
}

.option:hover,
.active {
    background-color: #f0e9ff;

}

.selected {
    font-weight: 600;
}

.optionContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 12px;
}

.labelText {
    flex: 1;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    color: #6c6c6c;
}

.valueText {
    font-size: 14px;
    font-weight: 500;
    color: #44305E;
    white-space: nowrap;
}