.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.popover {
    position: absolute;
    z-index: 50;
    margin-top: 55px;
    margin-left: -50px;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 0.375rem;
    padding: 10px;
}

.input {
    position: relative;
    border-radius: 12px;
    background-color: #f3f3f3;
    outline: none;
    width: 155px;
    height: 50px;
    border: 1px solid #ffffff;
    cursor: pointer;
    font-size: 14px;
    padding-left: 40px;
}
.icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-54%);
    color: #565656;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.clearIcon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #565656;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: color 0.2s;
}

.clearIcon:hover {
    color: #ef4444;
}
