.topicListWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}
.topicListWrapper{
    font-size: 1.2rem;
    font-weight: 600;
    color: #555555;
}

.topicListContainer{
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 0.8rem;
}

.addTopic{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1.5rem;
    right: 1rem;
    background-color: #f1c78a;
    height: 3rem;
    width: 3rem;
    border-radius: 0.8rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}