.topicListWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}
.topicListWrapper{
    font-size: 1.2rem;
    font-weight: 600;
    color: #555555;
}

.topicListContainer{
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 0.8rem;
}