.customRewardItem {
  display: flex;
  align-items: center;
  background: #fdfdfd;
  border-radius: 15px;
  transition: all 0.2s ease;
  border: 1px solid #ddd;
}


.rewardContent {
  flex: 1;
  display: flex;
  cursor: pointer;
  min-width: 0;
  height: 100%;
  padding: 0 15px;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.editIcon {
  color: #9769FF;
  flex-shrink: 0;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.rewardContent:hover .editIcon {
  opacity: 1;
}

.rewardTitle {
  color: #6E6E6E;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rewardDescription{
  color: #6E6E6E;
  font-size: 14px;
  font-weight: 300;
}


.rewardCoins {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #666;
  font-size: 14px;
  font-weight: 600;
  flex-shrink: 0;
}

.claimButton {
  background: #fde2b8;
  border-radius: 0 10px 10px 0;
  border-left: none;
  width: 60px;
  height: 60px;
  gap: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  flex-shrink: 0;
  color: #BA7A13;
}


