.blob {
    position: absolute;
    z-index: -1;
    width: 20vw;
    height: auto;
    opacity: 0.5;
}

.top {
    top: -25%;
    left: 50%;
    width: 35vw;
    transform: translateX(-50%);
}

.bottom {
    width: 35vw;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.leftBottom {
    width: 30vw;
    bottom: -10%;
    left: -10%;
    opacity: 1;
}

.rightBottom {
    width: 45vw;
    bottom: -30%;
    right: -22%;
}

.rightTop {
    width: 35vw;
    top: -30%;
    right: -10%;
}


