.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    cursor: pointer;
    font-size: 28px;
    font-weight: 500;
    border-radius: 15px;
    color: #fff;
}

.base {
    background-color: #fff;
    color: #000;
}

.purple {
    background-color: #BC7BFD;
    color: white;
    border: none;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #B469FF;

    }
}

.google {
    background-color: white;
    color: #BC7BFD;
    border: 1px solid #413162;
}