.goalListItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6rem;
  background: #dce1fd;
  border-radius: 0.7rem;
  padding: 1rem 30px 1rem 1rem;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}



.goalListItemInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex: 1;
  height: 100%;
}

.goalListItemTitle {
  font-size: 1rem;
  font-weight: 400;
  color: #555555;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.goalListItemDescription {
  font-size: 0.8rem;
  font-weight: 300;
  color: #777777;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.goalListItemTasksQuantity {
  font-size: 0.8rem;
  font-weight: 300;
  color: #424242;
}

.goalListItemDueTasks {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  position: absolute;
  bottom: 0.5rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: #ff9ca2;
  height: 1.5rem;
  width: 1.5rem;
}

.goalListItemKebabMenu {
  position: absolute;
  top: 1.2rem;
  right: 0.5rem;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  opacity: 0.7;
  transition: opacity 0.2s ease;
  padding: 0.25rem;
  border-radius: 0.25rem;
}


