.userBadgeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ECE1FE;
    height: 150px;
    padding: 9px 20px;
    border-radius: 15px;
    cursor: pointer;
}

.userAvatar {
    cursor: pointer;
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.levelBadge {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    background-color: #9769FF;
    width: 85px;
    color: #fff;
    height: 30px;
    font-size: 18px;
    border-radius: 12px;
}

/* Tablet */
@media (max-width: 1024px) {
    .userBadgeContainer {
        height: 130px;
        padding: 8px 15px;
    }

    .levelBadge {
        width: 75px;
        height: 28px;
        font-size: 16px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .userBadgeContainer {
        height: 110px;
        padding: 6px 12px;
    }

    .levelBadge {
        width: 65px;
        height: 25px;
        font-size: 14px;
        margin-top: 6px;
    }
}
