.shopContainer {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

/* Split Layout */
.splitLayout {
  display: grid;
  margin-top: 25px;
  grid-template-columns: 1fr 410px;
  gap: 2rem;
  flex: 1;
  overflow: hidden;
  min-height: 0;
}

/* Responsive design */
@media (max-width: 1200px) {
  .splitLayout {
    grid-template-columns: 1fr 350px;
  }
}

@media (max-width: 968px) {
  .splitLayout {
    gap: 1rem;
    display: flex;
    margin-top: 15px;
    flex-direction: column-reverse;
  }

  .shopContainer {
    height: auto;
  }
}

@media (max-width: 640px) {
  .shopContainer {

  }


}
