.columnsContainer{
    margin-top: 17px;
    display: flex;
    gap: 40px;
    height: 100%;
}

.state{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 175px);
    width: 100%;
}

@media (max-width: 850px) {
    .columnsContainer {
        height: 100%;
        min-height: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 1rem;
        gap: 20px;
    }
}
